output.jpg
venv
__pycache__/
.ipynb_checkpoints/
blender/
.zshrc
.zsh_history
.zcompdump
.wget-hsts
.npmrc
.vimrc
.viminfz.tmp
.viminfy.tmp
.viminfx.tmp
.viminfo.tmp
.viminfo
.vim/
.tmux.conf
.ssh/
.shell.pre-oh-my-zsh
.python_history
.pylint.d/
.profile
.oh-my-zsh/
.local/
.ipython/
.hy-history
.bash_history
.bashrc
.cache/
.cloud-locale-test.skip
.cmake/
.config/
backups/
bin/
.gitconfig
.git-credentials
helvetica
*.npy
figures/
output.sublime-workspace
output/
images/
*pyc
db.sqlite3
uploads
static
*swp
hy
temp/test.jpg
keys.py
hs.js
node_modules
.env
*sublime*
data/
*.js.map
